.active-icon {
  color: #ff0b37;
  font-size: 22px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.icon {
  color: gray;
  font-size: 18px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.gaming-rout-heading-icon {
  font-size: 32px;
  color: #ff0b37;
  margin-left: 22px;
}
